{% extends 'main.html' %}

{% block content %}
<div class="container  d-flex mt-5 justify-content-center">
    <!-- flex rows -->
    <div class="row w-75 shadow-lg " >
        <!--Login  -->
        <div class="col-lg-12 d-flex justify-content-between bg-danger text-light py-2">
            
            <div class=" d-flex justify-content-start">
                <div class="d-flex">
                    
                    <a href="{% url 'home' %}"><i class="bi bi-arrow-left display-6 text-light"></i></a>
                    <h1 class=" w-100">Back</h1>
                </div>

           </div>
       
              
          </div>
           <!--form  -->
          <div class="col-lg-12  justify-content-between  text-dark py-4">
            <form class="mx-5" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label ">{{field.label}}:</label>
                 {{field}}
                
                </div>
                {% endfor %}
               
              
                <button type="submit" class="btn btn-outline-danger">Submit</button>

                
              </form>

          </div>
   
     
</div>
</div>

{% endblock %}